commands:
  01_nginx_types_hash:
    command: |
      echo 'types_hash_max_size 2048;' > /tmp/nginx_types_hash.conf
      echo 'types_hash_bucket_size 64;' >> /tmp/nginx_types_hash.conf
      sudo cp /tmp/nginx_types_hash.conf /etc/nginx/conf.d/types_hash.conf
      sudo chown root:root /etc/nginx/conf.d/types_hash.conf
      sudo chmod 644 /etc/nginx/conf.d/types_hash.conf